<!-- I am the homepage 

<button (click)="getStoryIDs()">CLick ME</button>

<div *ngFor="let stories of stories_array">
  {{stories.descendants}}
</div> -->
<app-navbar></app-navbar>
<div class="container">
<button (click)="calcTime()">Calc</button>
  <div class="row" id="first_story_row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 first_story">
      <h2>{{this.stories_array[0].title}}</h2>
      <br><br>
      <p>{{this.stories_array[0].time}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>

  </div>
</div>