<!-- I am the homepage 

<button (click)="getStoryIDs()">CLick ME</button>

<div *ngFor="let stories of stories_array">
  {{stories.descendants}}
</div> -->
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="background-color: red;height: 50vh;">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-6" style="background-color: aqua; height: 20vh;">

        </div>
        <div class="col-sm-6" style="background-color: green; height: 20vh;">

        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-6" style="background-color: aqua; height: 20vh;">

        </div>
        <div class="col-sm-6" style="background-color: green; height: 20vh;">

        </div>
      </div>
    </div>
  </div>
</div>