#first_story_row{
    padding-top: 5%;
    padding-bottom: 5%;
}

.first_story{
    height: 100%;
}
.first_story h2{
    text-align: center;
}
.first_story p, .group1_stories p, .group2_stories p{
    font-style: italic;
    text-align: center;
    font-size: 13px;
}
iframe.first_story_iframe{
    width: 100%;
    height: 40vh;
    overflow:hidden;
}

.group1_stories, .group2_stories{
    padding-bottom: 5%;
}
.group1_loop, .group2_loop{
    padding-bottom: 3%;
}

.group1_stories p.heading, .group2_stories p.heading{
    font-weight: bold;
    font-size: 17px;
}

iframe.even_story_iframe, iframe.odd_story_iframe{
    width: auto;
    height: 10vh;
    float: left;
    padding-right: 5%
}

.nav_btns{
    text-align: center;
}