.row{
    height: 100vh;
    background-image: url("/assets/img/world_shot.jpg");
    background-size: cover;
    background-position-y: -150px;
    background-position-x: -10px;
    overflow: hidden;
}
.title{
    position: absolute;
    top: 35%;
    text-align: center;
}

h2{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 600%;
    font-family: 'Playfair Display', serif;
}